
body{
    background-image: linear-gradient(to right,  #03101af8,#050e11f1,rgba(1, 3, 14, 0.966)  );  
    /* background-color: blueviolet; */
}

.icon img{
    position: relative;
    left: 10px;
    top: 10px;
    color: aliceblue;
    background-color: rgb(240, 248, 255); 
    /* backdrop-filter: blur(10px); */
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.icon img:hover{
    transform: scale(1.1);
}

/* ------------------- --------------- */

.section{

    position: absolute;
    top: 80px;
    left: 200px;
    width: 70%;
    height: 500px;
    border: 2px solid #000000;  
    border-radius: 20px;
    backdrop-filter: blur(50px);
}

/* ------------------- --------------- */

.img1{
    position: fixed;
    top: 0px;
    left: 50px;
    width: 90px;
    height: 90px;

}
.img2{
    position: fixed;
    top: 20px;
    left: 170px;
    width: 170px;
    height: 170px;
    z-index: -1;

}
.img3{
    position: fixed;
    top: 0px;
    left: 200px;
    width: 50px;
    height: 50px;

}
.img4{
    position: fixed;
    top: 500px;
    left: 200px;
    width: 180px;
    height: 180px;
    z-index: -1;

}
.img5{
    position: fixed;
    top: 500px;
    left: 1000px;
    width: 100px;
    height: 100px;
    z-index: -1;


}
.img6{
    position: fixed;
    top: 0px;
    left: 1000px;
    width: 150px;
    height: 150px;
    z-index: -1;

}
.img7{
    position: fixed;
    top: 50px;
    left: 700px;
    width: 50px;
    height: 50px;
    /* z-index: -1; */

}
.img8{
    position: fixed;
    top: 400px;
    left: 500px;
    width: 50px;
    height: 50px;
    z-index: -1;

}
.img9{
    position: fixed;
    top: 600px;
    left: 800px;
    width: 90px;
    height: 90px;
    z-index: -1;

}
.img10{
    position: fixed;
    top: 200px;
    left: 100px; 
    width: 150px;
    height: 150px;

}
.img11{
    position: fixed;
    top: 400px;
    left: 1200px;
    width: 50px;
    height: 50px;

}
.img12{
    position: fixed;
    top: 150px;
    left: 1200px;
    width: 100px;
    height: 100px;

}
.img13{
    position: fixed;
    top: 500px;
    left: 1200px;
    width: 150px;
    height: 150px;

}

/* ------------------- --------------- */

.enfant1{
    position: absolute;
    top: 80px;
    left: 150px;
    width: 150PX;
    height: 150px;
    border: 2px solid #000000;  
    border-radius: 10px;
    background-color: rgba(7, 16, 24, 0.384);
    backdrop-filter: blur(500px);
}
.enfant2{
    position: absolute;
    top: 80px;
    left: 600px;
    width: 150PX;
    height: 150px;
    border: 2px solid #000000;  
    border-radius: 10px;
    background-color: rgba(7, 16, 24, 0.384);
    backdrop-filter: blur(500px);
}
.enfant3{
    position: absolute;
    top: 300px;
    left: 150px;
    width: 150PX;
    height: 150px;
    border: 2px solid #000000;  
    border-radius: 10px;
    background-color: rgba(7, 16, 24, 0.384);
    backdrop-filter: blur(500px);
}
.enfant4{
    position: absolute;
    top: 300px;
    left: 600px;
    width: 150PX;
    height: 150px;
    border: 2px solid #000000;  
    border-radius: 10px;
    background-color: rgba(7, 16, 24, 0.384);
    backdrop-filter: blur(500px);
}

/* ----------------- ---------------------- */

.mg1{
    width: 140px;
    height: 100px;
    transition: 0.2s;
    cursor: pointer;
}

.mg1:hover{
    transform: scale(1.2);
}
.mg2{
    width: 140px;
    height: 100px;
    transition: 0.2s;
    cursor: pointer;
}

.mg2:hover{
    transform: scale(1.2);
}

.mg3{
    width: 100px;
    height: 100px;
    transition: 0.2s;
    cursor: pointer;
}

.mg3:hover{
    transform: scale(1.2);
}

.mg4{
    width: 140px;
    height: 100px;
    transition: 0.2s;
    cursor: pointer;
}

.mg4:hover{
    transform: scale(1.2);
}

/* -------------- ---------------- */

h3{
    position: relative;
    top: -20px;
    color: #fff;
    text-align: center;
} 

/* -------------- 1074---------------- */

@media(max-width: 1074px){


    .enfant2{
        position: absolute;
        top: 80px;
        left: 500px;
    
    }


    .enfant4{
        position: absolute;
        top: 300px;
        left: 500px;
       
    }

}
/* -------------- 960---------------- */

@media(max-width: 960px){
    .enfant1{
        position: absolute;
        top: 80px;
        left: 100px;
        
    } 


    .enfant2{
        position: absolute;
        top: 80px;
        left: 400px;
       
    }
    .enfant3{
        position: absolute;
        top: 300px;
        left: 100px;
  
    }


    .enfant4{
        position: absolute;
        top: 300px;
        left: 400px;
     
    }

}

/* -------------- 860---------------- */

@media(max-width: 860px){
    .enfant1{
        position: absolute;
        top: 80px;
        left: 80px;
        
    } 


    .enfant2{
        position: absolute;
        top: 80px;
        left: 300px;
       
    }
    .enfant3{
        position: absolute;
        top: 300px;
        left: 80px;

    }


    .enfant4{
        position: absolute;
        top: 300px;
        left: 300px;
      
    }

}

/* -------------- 750---------------- */

@media(max-width: 750px){
    .section{

        position: absolute;
        top: 80px;
        left: 100px;
         width: 500px;
        /* height: 500px;
        border: 2px solid #000000;  
        border-radius: 20px;
        backdrop-filter: blur(50px);  */
    }

    .img10{
        position: fixed;
        top: 200px;
        left: 20px; 
        width: 150px;
        height: 150px;
    
    }

    .enfant1{
        position: absolute;
        top: 80px;
        left: 60px;
  
    } 


    .enfant2{
        position: absolute;
        top: 80px;
        left: 280px;
  
    }
    .enfant3{
        position: absolute;
        top: 300px;
        left: 60px;
     
    }


    .enfant4{
        position: absolute;
        top: 300px;
        left: 280px;
       
    }

}
/* -------------- 699---------------- */

@media(max-width: 699px){
    .section{

        position: absolute;
        top: 80px;
        left: 50px;
         width: 500px;
        /* height: 500px;
        border: 2px solid #000000;  
        border-radius: 20px;
        backdrop-filter: blur(50px);  */
    }

    .img10{
        position: fixed;
        top: 200px;
        left: 5px; 
        width: 150px;
        height: 150px;
    
    }

    .enfant1{
        position: absolute;
        top: 80px;
        left: 60px;
  
    } 


    .enfant2{
        position: absolute;
        top: 80px;
        left: 280px;
  
    }
    .enfant3{
        position: absolute;
        top: 300px;
        left: 60px;
     
    }


    .enfant4{
        position: absolute;
        top: 300px;
        left: 280px;
       
    }

}
/* -------------- 595---------------- */

@media(max-width: 595px){
    .section{

        position: absolute;
        top: 80px;
        left: 20px;
         width: 90%;
        height: 900px;
        /* border: 2px solid #000000;  
        border-radius: 20px;
        backdrop-filter: blur(50px);   */
    }

    .img10{
        position: fixed;
        top: 200px;
        left: 0px; 
        width: 150px;
        height: 150px;
        z-index: -1;
    
    }

    .enfant1{
        position: absolute;
        top: 80px;
        left: 60px;
  
    } 


    .enfant2{
        position: absolute;
        top: 500px;
        left: 60px;
  
    }
    .enfant3{
        position: absolute;
        top: 300px;
        left: 60px;
     
    }


    .enfant4{
        position: absolute;
        top: 700px;
        left: 60px;
       
    }

}
/* -------------------- 393------------- */

@media(max-width: 393px){
    .section{

        position: absolute;
        top: 80px;
        left: 20px;
         width: 90%;
        height: 900px;
        /* border: 2px solid #000000;  
        border-radius: 20px;
        backdrop-filter: blur(50px);   */
    }

    .img10{
        position: fixed;
        top: 200px;
        left: 0px; 
        width: 150px;
        height: 150px;
        z-index: -1;
    
    }

    .enfant1{
        position: absolute;
        top: 80px;
        left: 100px;
        font-size: 1.3em;
  
    } 


    .enfant2{
        position: absolute;
        top: 500px;
        left: 100px;
        font-size: 1.3em;
  
    }
    .enfant3{
        position: absolute;
        top: 300px;
        left: 100px;
        font-size: 1.3em;
     
    }


    .enfant4{
        position: absolute;
        top: 700px;
        left: 100px;
        font-size: 1.3em;
       
    }

}


 /* .contat_sou{
    position: absolute;
    top: 50px;
    width: 100px;
    height: 150px;
    background-color: #fff;
} */
